

<div  cdkTrapFocus>
  <header>
    Wave
  </header>   
  
  <mat-card class="example-card" appearance="outlined" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions cdkTrapFocus>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


  
  <section>

  <article>    
    <h2>sketchが楽しくなるノート</h2> 
    <img src="../../assets/image-fx4.jpg" alt=""> 
  </article> 
  <article>    
      <h2>いこごちの良い部屋にあるもの</h2>  
      <img src="../../assets/image-fx5.jpg" alt="">     
  </article>
  <article>    
      <h2>バラの花の咲いた花びん</h2>
      <img src="../../assets/image-fx6.jpg" alt="">      
  </article>
  <article>    
    <h2>バラの花の咲いた花びん</h2>
    <img src="../../assets/image-fx7.jpg" alt="">      
</article>
  </section>
  
  <footer>© WAVE</footer>

  </div>


  <router-outlet />