   div.test{
    width: auto;
    border: 5px solid #149350;
    padding: 25px;
    width: 400px;  
   }
    h2{
    width: auto;
    border: 3px solid #3f088c;
    padding: 25px;
    width: 300px; 
    text-align: center;   
    }
    p{
        width: auto;
        border: 2px solid #3f088c;        
        padding: 25px;
        width: 300px; 
        text-align: center       
    }
    p.sample{
        color: red;
        text-align: center
    }

