<div>
  <header>WAVE</header>
  
  <nav>
    <ul>
     <li><a href="">トップ</a></li>
     <li><a href="">サイトについて</a></li>
     <li><a href="">お問合せ</a></li>
    </ul>
  </nav> 
  
  <figure class="hero">
    <img 
    src="/assets/image-fx1.jpg" 
    alt="おしゃれな作業スペース" 
    >
  </figure>
  
  
  <h1>Best place to visit in the world</h1>
  
  <p><a href="#">空間を彩る多彩なアイテム</a></p>
  
  <section>
  <article>
    <a href="">
    <figure class="hero1"><img src ="/assets/image-fx2.jpg" alt=""></figure>
    <h2>sketchが楽しくなるノート</h2>
    </a>
  </article> 
  <article>
    <a href="">
      <figure class="hero1"><img src ="/assets/image-fx3.jpg" alt=""></figure>
      <h2>いこごちの良い部屋にあるもの</h2>
      </a>
  </article>
  <article>
    <a href="">
      <figure class="hero1"><img src ="/assets/image-fx1.jpg" alt=""></figure>
      <h2>バラの花の咲いた花びん</h2>
      </a>
  </article>
  </section>
  
  <footer>© WAVE</footer>
  </div>


  <router-outlet />